@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewProject";
}

@model IEnumerable<TDA.Models.Project>
<style>
    body {
        background-color: #f8f9fb;
    }

    table {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #dfdfdf;
        border-radius: 6px;
        border-collapse: separate;
        border-spacing: 0px;
    }

        table thead tr {
            color: #ffffff;
            font-weight: bold;
            background: #00bf80;
        }

        table tr td {
            border-right: 1px solid #dfdfdf;
        }

            table tr td:last-child {
                border-right: 0px;
            }

        table tbody tr:nth-child(1n) {
            background: #f6f6f6;
        }

        table tbody tr:nth-child(2n) {
            background: #e6e6e6;
        }

        table tbody tr:hover {
            background: #ffe8e8;
            transition-duration: 0.6s;
        }
</style>
<html>
<body>

    <h2>Список проектов</h2>
    @if (User.IsInRole("admin") || User.IsInRole("manager"))
    {
        <p><a href="/Development/CreateProject">Добавить проект</a></p>
    }
    <table class="table">
        <thead>
            <tr><th>Проект</th><th>Руководитель</th><th>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>
                        <a asp-action="TasksByProject" asp-controller="Development" asp-route-projectId="@project.projectid">
                            @project.project_name
                        </a>
                    </td>
                    <td>@project.Lead.username</td>
                    <td>
                        @if (User.IsInRole("admin") || User.IsInRole("manager"))
                        {
                            <a asp-action="Edit" asp-controller="Development" asp-route-id="@project.projectid">Изменить</a>
                            <a asp-action = "Delete" asp-controller = "Development" asp-route-id = "@project.projectid" > Удалить </a>
                            }
                        else
                        {
                            <span>Нажмите на название проекта для подробностей </span>
                        }
                    </td>
                </tr>
            }
            
            </tbody>
    </table>


</body>
</html>